
 .MainTaskpolisBoxContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding-top: 1rem;
  }
  
  .AddTaskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
    border: 1px solid lightgray;
    padding: 1rem 1rem 0.7rem 1rem;
  }
  
  .Logo {
    margin-left: auto;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: relative;
    top: 0.5rem;
  }
  
  .TaskList {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.5fr;
    grid-gap: 1.5rem;
    border: 1px solid #ccc;
    text-align: left;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    margin-top: 3rem;
    width: 38rem;
    font-size: large;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
    word-wrap: break-word;
    height: auto;
    min-height: 7rem;
  }
  
  .ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.6rem;
    height: 2.3rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    background-color: darkcyan;
    font-size: 1rem;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .ButtonContainer:hover {
    background-color: rgb(0, 131, 131);
  }
  
  .InputContainer {
    width: 25rem;
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border: none;
  }
  
  .InputContainer:focus {
    outline: none;
  }
  
  .ConfirmButton {
    background-color: darkcyan;
    color: white;
    padding: 0.7rem;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    margin-left: 0.7rem;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
    width: 7.7rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 
  
  }